<head>
    <link rel="stylesheet" href="components\header\header.css">
</head>
<header  class="nav-header">
        <nav>
            <ul class="nav-list">
                <li class="nav-button">
                    <a href="home.html">Home</a></li>
                <li class="nav-button">
                    <a href="skills.html">Skills</a></li>
                <li class="nav-button">
                    <a href="projects.html">Projects</a></li>
                <li class="nav-button">
                    <a href="contact.html">Contact</a></li>
            </ul>
        </nav>
</header>

