body {
  background-color: #9FB1BC;
  font-family: 'JetBrains Mono', monospace;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6E8898;
  width: 7em;
  height: 10em;
  border-radius: 20px;
  margin: 1em;
  margin-top: 3em;
  flex: 1 1 calc(50% - 2em);
  box-shadow: 5px 18px 30px black;
}

.skill-container:nth-child(2),
.skill-container:nth-child(3),
.skill-container:nth-child(6),
.skill-container:nth-child(7),
.skill-container:nth-child(10),
.skill-container:nth-child(11),
.skill-container:nth-child(14),
.skill-container:nth-child(15),
.skill-container:nth-child(18) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: black;
  direction: row;
}

.skill-container h2 {
  color: #E2C044;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: bold;
}

.material-symbols-outlined {
  padding: 0.2em;
  font-size: 2em;
  justify-content: center;
}

.skill-container p {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 1133px) {
  .skill-container h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  .material-symbols-outlined {
    font-size: 1.8em; /* Adjust icon size for smaller screens */
  }

  .skill-container p {
    font-size: 1em; /* Adjust paragraph font size for smaller screens */
  }
}

@media screen and (max-width: 1045px) {
  .skill-container h2 {
    font-size: 1.3em; /* Adjust font size for smaller screens */
  }

  .material-symbols-outlined {
    font-size: 1.6em; /* Adjust icon size for smaller screens */
  }

  .skill-container p {
    font-size: 0.8em; /* Adjust paragraph font size for smaller screens */
  }
}
@media screen and (max-width: 955px) {
  .skill-container h2 {
    font-size: 1.1em; /* Adjust font size for smaller screens */
  }

  .material-symbols-outlined {
    font-size: 1.4em; /* Adjust icon size for smaller screens */
  }

  .skill-container p {
    font-size: 0.8em; /* Adjust paragraph font size for smaller screens */
  }
}
@media screen and (max-width: 867px) {
  .skill-container h2 {
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }

  .material-symbols-outlined {
    font-size: 1.2em; /* Adjust icon size for smaller screens */
  }

  .skill-container p {
    font-size: 0.8em; /* Adjust paragraph font size for smaller screens */
  }
}

@media screen and (max-width: 776px) {
  .skill-container h2 {
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }

  .material-symbols-outlined {
    font-size: 1.0em; /* Adjust icon size for smaller screens */
  }

  .skill-container p {
    font-size: 0.8em; /* Adjust paragraph font size for smaller screens */
  }
}

@media screen and (max-width: 685px) {
  .skill-container h2 {
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }

  .material-symbols-outlined {
    font-size: 0.8em; /* Adjust icon size for smaller screens */
  }

  .skill-container p {
    font-size: 0.8em; /* Adjust paragraph font size for smaller screens */
  }
}

