.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.square {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 20px; /* Rounded corners */
}

.yellow {
  background-color: #E2C044; /* Mustard yellow color */
  top: 70px;
  left: 10px;
}

.blue {
  background-color: #2E5266; /* Teal blue color */
  top: 112px;
  left: 380px;
  width: 400px; /* Smaller size */
  height: 400px;
  border-radius: 15px; /* Slightly different rounded corners */
}