<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap">
    <title>skills</title>
</head>
<body>
    <div id="nav-parent-container">
        <div id="nav-container">
            <ul class="nav-list">
                <li class="nav-button"><a href="home.html">Home</a></li>
                <li class="nav-button"><a href="about.html">Skills</a></li>
                <li class="nav-button"><a href="Projects.html">Projects</a></li>
                <li class="nav-button"><a href="Contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</body>
</html>