#footer {
    bottom: 0;
    height: auto; /* Change this to auto to let the content dictate the height */
    background-color: #2E5266;
    padding: 0;
    margin: 0;
    width: 100%;
}

.footer-container {
    padding: 3px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0;
    margin: 0; */
}