body {
  background-color: #9FB1BC;
  font-family: 'JetBrains Mono', monospace;
  padding: 0;
  margin: 0;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.box-container .blue-box {
  position: absolute;
  background-color: #2E5266;
  border-radius: 20px;
  height: 60%;
  width: 40%;
  left: 55%; /* Adjust this value to control the overlap */
}

.box-container .yellow-box {
  background-color: #E2C044;
  border-radius: 20px;
  height: 80%;
  width: 60%;
  right: 15%; /* Adjust this value to control the overlap */
  position: relative; /* Change to relative */
}

.box-container .blue-box::before,
.box-container .yellow-box:before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.box-container .blue-box:after,
.box-container .yellow-box:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 5%;
  width: 90%;
  height: 90px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.social-media-container {
  padding: 0em; /* Add padding to ensure the container has height */
  position: absolute; /* Change to absolute */
  bottom: 0; /* Position at the bottom */
  width: 100%; /* Ensure it takes the full width of the parent */
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

.social-media {
  display: flex;
  align-items: center;
  flex-direction: row; /* Change to row */
  justify-content: space-around; /* Add this line */
  gap: 20px; /* Add this line to specify the spacing */
  padding: 2em;
  font-size: 30px;
  transition: transform 0.5s ease-in; /* Add transition effect */
}

.social-media-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  flex-direction: row; 
}

.social-media-link i {
  margin-right: 2em; 
  text-shadow: 6px 29px 40px black;
}

.social-media-link:hover {
  transform: translateY(10px);
}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 4em;
  height: 50vh;
  color: black;
  text-shadow: 6px 29px 40px black;
  
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 2.5em;
  height: 60vh;
  color: #E2C044;
  text-shadow: 6px 29px 40px black;
}

 h2:before,
 h1:before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

h2:after,
h1:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 5%;
  width: 90%;
  height: 90px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}