<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap">
    <link rel="stylesheet" href="../../header/header.css">
    <link rel="stylesheet" href="../../footer/footer.css">
    <link rel="stylesheet" href="projects.css">
    <!-- <link rel="stylesheet" href="components/header/header.css"> -->
    <script src="../../../scripts/loadComponents.js" defer></script>
</head>
<body>
    <div class="container">
        <div id="header"><!-- inject header --></div> 
    </div>
    <div class="content">
        <main>
            <div class="project-container">
                <div class="project">
                    <h2></h2>
                    <img src="../../../assets/images/coffee2023-08-17 191035.png" alt="Coffee Menu">
                    <p>A project to create menu for a cafe using HTML and CSS.</p>
                </div>
                <div class="project">
                    <h2></h2>
                    <img src="../../../assets/images/HTML-CSS-Quiz.png" alt="HTML-CSS Quiz">
                    <p>A quiz project using HTML and CSS learning form elements.</p>
                </div>
                <div class="project">
                    <h2></h2>
                    <img src="../../../assets/images/to-do-list.png" alt="todo list">
                    <p>A todo list project using HTML, CSS, and JavaScript utilising googles Firebase as backend.</p>
                </div>
                <div class="project">
                    <h2>Adventure Game</h2>
                    <img src="../../../assets/images/fight-dragon-game.png" alt="Fight Dragon Game">
                    <p>A basic adventure game utilising HTML, CSS, and basic JavaScript.</p>
                </div>
                <div class="project">
                    <h2>Project 5</h2>
                    <p>Project 5 Description</p>
                </div>
                <div class="project">
                    <h2>Project 6</h2>
                    <p>Project 6 Description</p>
                </div>
            </div>
        </main>
        <div id="footer"><!-- inject footer --></div>
    </div>
</body>
</html>




