.nav-header {
  display: flex;
  justify-content: center;
  background-color: #9FB1BC; 
  padding: 0; 
  margin: 0;
  box-sizing: border-box; /* Add this line */
  position: relative; /* Add this line */
  /* box-shadow: 15px 1px 15px #2E5266; */
}

nav {
  justify-content: center;
  align-items: center;
  min-width: 80%; /* Sets the width to 50% */
  padding-left: 0;
  /* box-shadow: -5px 5px 5px #2E5266;  */
}

.nav-list {
  display: flex;
  justify-content: space-between; /* Change to space-between or space-around */
  list-style-type: none;
  padding: 5px; /* Optional: Add padding for better appearance */
  margin: 0;
}

.nav-header a {
  text-decoration: none;
  color: #000; /* Adjust the color as needed */
  padding: 7px; /* Optional: Add padding for better appearance */
  margin: 0;
  font-size: 1.2em; /* Adjust the font size as needed */
  box-sizing: border-box; /* Add this line */
}

.nav-list a:hover {
  background-color: #2E5266;
  color: #E2C044;
  border-radius: 4px;
  margin: 0;
  box-sizing: border-box; 
  font-weight: bold;
}

.nav-header::before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.nav-header::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 5%;
  width: 90%;
  height: 90px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}


@media (max-width: 690px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100%;
    padding: 0;
  }


  .nav-list a {
    padding: 10px;
    font-size: 1em;
  }
}
