<head>
    <!-- <link rel="stylesheet" href="header.css"> -->
</head>
<header  class="nav-header">
        <nav>
            <ul class="nav-list">
                <li class="nav-button">
                    <a href="../home/index.html">Home</a></li>
                <li class="nav-button">
                    <a href="../skills/skills.html">Skills</a></li>
                <li class="nav-button">
                    <a href="../projects/projects.html">Projects</a></li>
                <li class="nav-button" id="contact">
                    <a href="../contact/contact.html">Contact Me</a></li>
            </ul>
        </nav>
</header>
